footer {
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    color: var(--on-surface);
}

footer #brand {
    font-weight: 1000;
    text-transform: lowercase;
    transform: scaleY(0.9);
}

#social-icons {
    display: flex;
}

#social-icons>img {
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
}

#social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#social-links a {
    color: var(--on-surface);
    text-decoration: none;
    margin: 0.5rem 0;
}

#social-links a:hover {
    color: var(--on-hover);
}

#copyright {
    color: var(--on-surface);
    filter: brightness(0.7);
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 5vh;
}