@import url(./header.css);
@import url(./footer.css);

:root {
    --text: #2d314d;
    --base: aquamarine;
    --surface: #2d314d;
    --on-surface: white;
    --on-hover: lightgreen;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text)
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}