@import url(./header.css);
@import url(./footer.css);

:root {
    --bg: #efefef;
    --text: #2d314d;
    --base: aquamarine;
    --surface: #2d314d;
    --on-surface: white;
    --on-hover: lightgreen;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text)
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
}

body {
    margin: 0;
}

section {
    width: 100vw;
    max-width: 100%;
    min-height: 70vh;
}

#features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#features>div {
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

#features>div:hover {
    cursor: pointer;
    background-color: orange;
    filter: saturate(0.6);
}

#features>div>img {
    box-sizing: content-box;
    height: 2.5rem;
    width: auto;
    padding: 1rem;
    background: linear-gradient(var(--base), var(--on-hover));
    border-radius: 50%;
}